<div class="container">
  <div class="jumbotron">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <form (ngSubmit)="clickUpdate()" #formControl="ngForm" #formElement>
          <label>{{'update-user.username' |translate}}</label>
          <div class="form-group">
            <ng-multiselect-dropdown
              #selectElement
              required
              *ngIf="showUsers"
              name="users"
              [(data)]="dropdownUserList"
              [(ngModel)]="selectedItem"
              [settings]="dropdownSettings1">
            </ng-multiselect-dropdown>

            <button type="submit"
                    style="float:right;"
                    [disabled]="formControl.invalid"
                    class="btn btn-primary">{{'update-user.btn-show' |translate}}</button>

          </div>
        </form>
        <br>
        <br>
        <div *ngIf="showDetails">
          <div class="form-group">
            <label for="firstName">{{'update-user.first-name' |translate}}</label>
            <input #firstNameElement #firstNameControl="ngModel" required="true" [(ngModel)]="user.firstName"
                   name="firstName" id="firstName" type="text"
                   class="form-control" pattern="^[a-zA-Z]*$"
                   [class.isInvalid]="firstNameControl.invalid && firstNameControl.touched">
            <p>
              <small *ngIf="firstNameControl.invalid && firstNameControl.touched" class="help-block text-danger">
                {{'update-user.first-name-message' |translate}}
              </small>
            </p>
          </div>

          <div class="form-group">
            <label for="lastName">{{'update-user.last-name' |translate}}</label>
            <input #lastNameElement #lastNameControl="ngModel" required="true" [(ngModel)]="user.lastName"
                   name="lastName" id="lastName" type="text"
                   class="form-control" pattern="^[a-zA-Z]*$"/>
            <p>
              <small *ngIf="lastNameControl.invalid && lastNameControl.touched " class="help-block text-danger">
                {{'update-user.last-name-message' |translate}}
              </small>
            </p>
          </div>

          <div class="form-group">
            <label for="mobileNumber">{{'update-user.mobile-number' |translate}}</label>
            <input #mobileNumberElement #mobileNumberControl="ngModel" required="true" [(ngModel)]="user.phoneNumber"
                   id="mobileNumber" name="mobileNumber" type="text"
                   class="form-control" minlength="10"
                   pattern="(((^\+40|^0|^\(\+40\)|^0040)((7[2-8][0-9]{7}$)|((2|3)[1-6][0-9]{7}$))))|(^(^\+490|^0|^\(\+490\)|^00490)1[0-9]{3,8}$)"
                   />
            <p>
              <small *ngIf="mobileNumberControl.invalid && mobileNumberControl.touched " class="help-block text-danger">
                {{'update-user.mobile-number-message' |translate}}
              </small>
            </p>
          </div>

          <div class="form-group">
            <label for="email">{{'update-user.email' |translate}}</label>
            <input #emailElement #emailControl="ngModel" required="true" pattern="^[A-Z0-9._%+-]+@msggroup.com$"
                   [(ngModel)]="user.email" id="email"
                   name="email" type="text" class="form-control" placeholder="@msggroup.com"
                   pattern="^[A-Za-z0-9._%+-]+@msggroup.com$"/>
            <p>
              <small *ngIf="emailControl.invalid && emailControl.touched " class="help-block text-danger">
                {{'update-user.email-message' |translate}}
              </small>
            </p>
          </div>

          <label>{{'update-user.roles' |translate}}</label>
          <div class="form-group">
            <ng-multiselect-dropdown
              #selectElement
              required
              *ngIf="showRoles"
              name="state"
              [data]="dropdownRoleList"
              [placeholder]="'Choose a role'"
              [(ngModel)]="selectedItems"
              [settings]="dropdownSettings2">
            </ng-multiselect-dropdown>
            <p>
              <small *ngIf="checkSelect" class="help-block text-danger">
                {{'update-user.roles-message' |translate}}
              </small>
            </p>
          </div>


          <label>{{'update-user.status' |translate}}</label>
          <div class="form-group">
            <input type="text" placeholder="{{status}}" readonly class="status">
            <input type="checkbox" id="changeStatus">
            <label for="changeStatus">{{'update-user.change-status'|translate }}</label>
          </div>


          <div class=" form-group">
            <button type="submit"
                    class="btn btn-primary"
                    (click)="updateUser()"
            >{{'update-user.btn-save' | translate}}</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
