<ul class="nav navbar-light">
  <div class="distance">
    <li class="nav-item">
      <a class="nav-link" routerLink="/bug/statistics/all">{{"chart.title1" | translate}}</a>
    </li>
  </div>
  <div class="distance">
    <li class="nav-item">
      <a class="nav nav-link" routerLink="/bug/statistics/fixed">{{"chart.title3" | translate}}</a>
    </li>
  </div>
  <div class="distance">
    <li class="nav-item">
      <a class="nav-link" routerLink="/bug/statistics/created">{{"chart.title2" | translate}}</a>
    </li>
  </div>
</ul>

