<ul class="nav navbar-light">
  <div class="distance">
    <li class="nav-item">
      <a class="nav-link" routerLink="/bug/statistics/all">Bug status chart</a>
    </li>
  </div>
  <div class="distance">
    <li class="nav-item">
      <a class="nav nav-link" routerLink="/bug/statistics/fixed">Fixed bugs by user</a>
    </li>
  </div>
  <div class="distance">
    <li class="nav-item">
      <a class="nav-link" routerLink="/bug/statistics/created">Created and rejected bugs</a>
    </li>
  </div>
</ul>

