/*
.fixedColumns{
  padding-right: 200px;

}
*/
table{
  border-collapse: collapse;
  width: 100%;
}

th{
  text-align: left;
;}

tr {
  border-bottom: 1px solid #ccc;
  height: 50px;
}

.uppercase{
  text-transform: uppercase;
}


