<div class="container">
  <form (ngSubmit)="OnSubmit()">
    <table>
      <thead>
      <tr>
        <th class="uppercase" scope="col">{{'permission.col-id' | translate}}</th>
        <th class="uppercase" scope="col">{{'permission.col-type'| translate}}</th>
        <th class="uppercase" scope="col">{{'permission.col-description' | translate}}</th>
      </tr>
      </thead>
      <tbody *ngFor="let p of permissions">
      <tr>
        <td>{{p.id}}</td>
        <td>{{p.type}}</td>
        <td>{{p.description}}</td>
      </tr>
      </tbody>
    </table>

  </form>
</div>
