<div class="card fixed-panel">
  <div class="card-header"><h4><strong>Contact Us</strong></h4></div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCntEorNpt9A-XJ1P-OG5OY920c_GeHsWo
      &q=Cluj-Napoca+Msg+Croitorilor" width="100%" height="315" frameborder="0" style="border:0"
                allowfullscreen></iframe>
      </div>
      <div class="col-md-4">
        <p>
          <strong>{{'contact.phone' | translate}}: </strong>
          <span> 0755295126</span>
        </p>
        <p>
          <strong> {{'contact.email'| translate}}: </strong>
          <span> teamC@msg.group</span>
        </p>
        <p>
          <strong> {{'contact.address' | translate}}:</strong>
          <span>  Cluj-Napoca, Strada Croitorilor 12-14, 400000 </span>
        </p>
      </div>
    </div>
  </div>
</div>
