<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">{{'header.nav-title' | translate}}</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/home">{{'header.nav-item1' | translate}}</a>
      <a *ngIf="isUserLoggedIn()" class="nav-item nav-link" href="#">{{'header.nav-item2' | translate}}</a>
      <a *ngIf="isUserLoggedIn() && isPermissionManagement()" class="nav-item nav-link" routerLink="/permission">{{'header.nav-item3'|
        translate}}</a>
      <a *ngIf="isUserLoggedIn() && isPermissionManagement()" class="nav-item nav-link" routerLink="/role">{{'header.nav-item4'|
        translate}}</a>
      <div *ngIf="isUserLoggedIn() && isUserManagement()" class="dropdown">
        <a class="nav-item nav-link">{{'header.nav-item5' | translate}}</a>
        <div class="dropdown-content">
          <a routerLink="/user/add">{{'header.dropdown1-item1' | translate}}</a>
          <a routerLink="/user/update">{{'header.dropdown1-item2' | translate}}</a>
        </div>
      </div>
      <div *ngIf="isBugManagement()" class="dropdown">
        <a class="nav-item nav-link">{{'header.nav-item6' | translate}}</a>
        <div class="dropdown-content">
          <a routerLink="/bug/add">{{'header.dropdown2-item2' | translate}}</a>
          <a routerLink="/bug/update">{{'header.dropdown2-item3' | translate}}</a>
          <a routerLink="/bug">{{'header.dropdown2-item1' | translate}}</a>
        </div>
      </div>

    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a *ngIf="!isUserLoggedIn()" class="nav-item nav-link active" routerLink="/login">{{'header.btn-login' |
        translate}}</a>
      <a *ngIf="isUserLoggedIn()" class="nav-item nav-link active" routerLink="/login" (click)="logout()">{{'header.btn-logout'
        | translate}}</a>
      <button (click)="useLanguage('en')">en</button>
      <button (click)="useLanguage('ro')">ro</button>
    </div>
  </div>
</nav>
