<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">JBugger</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home</a>
      <a class="nav-item nav-link" href="#">Contact</a>
      <a class="nav-item nav-link" routerLink="/permission">Permissions</a>
      <a class="nav-item nav-link" routerLink="/role">Roles</a>
      <a class="nav-item nav-link" routerLink="/bug">Bugs</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a *ngIf="!verify()" class="nav-item nav-link active" routerLink="/login">Login</a>
      <a *ngIf="verify()" class="nav-item nav-link active" routerLink="/login" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
