<div class="row">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{'home.message' | translate}}</h3>
      </div>
      <div class="card-body">
        <section class="about-sec parallax-section" id="about">
          <div class="row">
            <div class="col-md-3" style="padding: 30px;">
              <h2>About<br>
                Our Goal </h2>
            </div>
            <div class="col-md-4" style="padding: 30px;">
              <p>There are two words that characterize everything we do: Empathy and Innovation.</p>
              <p>The right internship can open all the right doors for you and create an amazing career path for your
                future. But when you are competing with hundreds of other applicants with the same skills and grades
                as you, it can be difficult to get the attention of companies. With a visually appealing and unique
                resume, you can not only get the attention of recruiters, but you can eventually land your dream
                internship.</p>
            </div>
            <div class="col-md-4" style="padding: 30px;">
              <p>Do you want to feel good about the work that you do and know that you are helping improve others’
                lives?</p>
              <p> Do you want a career with a mission? If you answered yes to these, we want to hear from you.</p>

            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Info</h3>
      </div>
      <div class="card-body">
        <div class="span12">
          <div class="thumbnail center well well-small text-center">

            <p>We are here to assist you with various administrative taks and hope to make your life easier  by giving you quick assistance with tasks you need.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
