<div class="row">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{'home.message' | translate}}</h3>
      </div>
      <div class="card-body">
        <section class="about-sec parallax-section" id="about">
        </section>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Info</h3>
      </div>
      <div class="card-body">
        <div class="span12">
          <div class="thumbnail center well well-small text-center">

            <p>We are here to assist you with various administrative taks and hope to make your life easier  by giving you quick assistance with tasks you need.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
