<div class="container">
  <div class="jumbotron">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form (ngSubmit)="addUser()" #formControl="ngForm" #formElement>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input #firstNameElement required="true" [(ngModel)]="user.firstName" name="firstName" id="firstName" type="text"
                   class="form-control" pattern="^[a-zA-Z]*$"/>
            <div class="err" *ngIf="!firstNameElement.checkValidity()">First Name is required</div>
          </div>

          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input #lastNameElement required="true" [(ngModel)]="user.lastName" name="lastName" id="lastName" type="text"
                   class="form-control" pattern="^[a-zA-Z]*$"/>
            <div class="err" *ngIf="!lastNameElement.checkValidity()">Last Name is required</div>
          </div>
          <div class="form-group">
            <label for="mobileNumber">Mobile number</label>
            <input #mobileNumberElement  required="true" [(ngModel)]="user.phoneNumber" id="mobileNumber" name="mobileNumber" type="text"
                   class="form-control" minlength="10"
                   maxlength="15"/>
            <div class="err" *ngIf="!mobileNumberElement.checkValidity()">Mobile number must be valid(GER/RO)</div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input #emailElement required="true" pattern="^[A-Z0-9._%+-]+@msggroup.com$" [(ngModel)]="user.email" id="email"
                   name="email" type="text" class="form-control" placeholder="@msggroup.com" pattern="^[A-Za-z0-9._%+-]+@msggroup.com$"/>
            <div class="err" *ngIf="!emailElement.checkValidity()">Email must be a valid email</div>
          </div>
          <label>Roles</label>
          <div class="form-group">
            <ng-multiselect-dropdown
              #selectElement
              required
              *ngIf="showRoles"
              name="roles"
              [data]="dropdownList"
              [placeholder]="'Choose a role'"
              [(ngModel)]="selectedItems"
              [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
            <div class="err" *ngIf="!verifySelectMenu()">Select at least one role</div>
          </div>
          <div class=" form-group">
            <button [disabled]="!formElement.checkValidity()" type="submit" class="btn btn-primary" >Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
