<div class="container">
  <div class="jumbotron">
    <h4>ADD BUG</h4>
    <div class="row justify-content-center">

      <div class="col-md-6">
        <form #formControl="ngForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input #titleElement name="title" id="title"  type="text" class="form-control" required [(ngModel)]="bug.title" minlength="3"/>
            <div class="err" *ngIf="!titleElement.checkValidity()">Title is required</div>

          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input #descriptionElement id="description" name="this" type="text" [(ngModel)]="bug.description" class="form-control" required minlength="3"/>
            <div class="err" *ngIf="!descriptionElement.checkValidity()">Description is required</div>
          </div>
          <div class="form-group">
            <label for="version">Version</label>
            <input disabled id="version" name="version" type="text" [(ngModel)]="bug.version" class="form-control" required minlength="3"/>
          </div>
          <div class="form-group">
            <label for="fversion">Fixed Version</label>
            <input disabled id="fversion" name="fversion" type="text"  [(ngModel)]="bug.fixedVersion" class="form-control" required minlength="3"/>
          </div>
          <div class="form-group">
            <label for="severity">Severity</label>
            <select name="severity" id="severity" [(ngModel)]="this.chosenSeverity" class="form-control" (ngModelChange)="changedSelected(this.chosenSeverity)" required>
              <option disabled [ngValue]="undefined">Select severity</option>
              <option *ngFor="let severity of this.severity" [ngValue]="severity">{{severity}}</option>
            </select>
            <div class="err" *ngIf="!checkUndefined(this.chosenSeverity)">Select a severity for bug</div>
          </div>

          <div class="form-group">
            <label for="date">Target Date</label>
            <br/>
            <input #targetElement type="date" id="date" name="chosenDate"
                   [(ngModel)]="this.chosenDate" (ngModelChange)="changedSelectedUsername()" min="{{this.currentDate | date:'yyyy-MM-dd'}}"
                    max="2030-12-31" required/>
            <div class="err" *ngIf="!targetElement.checkValidity()">Target date is required</div>
          </div>
          <div class="form-group">
            <label for="createdby">Created by</label>
            <input disabled id="createdBy" name="createdBy" type="text"  value = "doreld"  class="form-control" required minlength="3"/>
          </div>
          <div class="form-group">
            <label for="assignedTo">AssignedTo</label>
            <select  name="assignedTo" id="assignedTo"  class="form-control"  [(ngModel)]="this.chosenUsername" (ngModelChange)="changedSelectedUsername()" required>
              <option disabled [ngValue]="undefined">Select user</option>
              <option *ngFor="let username of this.allUsers" [ngValue]="username.username">{{username.username}}</option>
            </select>
            <div class="err" *ngIf="!checkUndefined(this.chosenUsername)">Assign an user for this bug</div>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <input disabled id="status" name="status" type="text"  [(ngModel)]="bug.status" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="blob">Attachment</label>
            <br/>
            <input #inputElement type="file" id="blob" name="file" [(ngModel)]="this.attachment.blob"  required (change)="fileChange($event)" accept="file_extension|audio/*|video/*|image/*|media_type" multiple >
            <div *ngFor="let name of this.chosenFiles">
              {{name}}
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary" type="submit" [disabled]="formControl.invalid" (click)="onSubmit()">Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
