.button{
  margin-right: 200px;
  width: 200px;
}
.container{
  width: 600px;
  margin: 0 auto;
  padding: 30px 0;
}
.jumbotron{
  background-color: 	#DCDCDC;
}
.err{
  color: red;
  font-size: smaller;
  text-align: left;
}
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
