<div class="card fixedColumns"
     *ngFor="let notification of notificationData.notifications| paginate: { itemsPerPage: 4  , currentPage: page }"
     style="width: 100%"
    >
  <h5 class="card-header">{{notification.type}}</h5>
  <div class="card-body">
    <p class="card-text">{{notification.date}}</p>
    <p class="card-text">{{notification.newNotificationDetailJson}}</p>
  </div>
</div>
<div class="has-text-centered">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
