
<div class="container">
  <select [(ngModel)]="this.chosenSeverity" (ngModelChange)="filterBySeverity()">
    <option disabled [ngValue]="undefined">Severity:</option>
    <option *ngFor="let severity of severities" [ngValue]="severity">{{severity}}</option>
  </select>

  <select [(ngModel)]="this.chosenStatus" (ngModelChange)="filterByStatus()">
    <option disabled [ngValue]="undefined">Status:</option>
    <option *ngFor="let status of statuses" [ngValue]="status">{{status}}</option>
  </select>
  <button class="btn btn-group" style="float: right" (click)="resetList()">Reset</button>
  <table>
    <thead>
    <tr>
      <th class="fixedColumns" scope="col">ISSUE</th>
      <th class="fixedColumns" scope="col">TARGET DATE</th>
      <th class="fixedColumns" scope="col">STATUS</th>
      <th class="fixedColumns" scope="col">SEVERITY
      </th>
    </tr>
    </thead>
    <tbody *ngFor="let bug of bugs | paginate: { itemsPerPage: 25, currentPage: page }"
           routerLink="/bug/details"  (click) = 'setSelectedBug(bug)'>
    <tr>
      <td>{{bug.title}}</td>
      <td>{{bug.targetDate}}</td>
      <td>{{bug.status.toLocaleLowerCase()}}</td>
      <td>
        <label class="severity {{bug.severity.toLocaleLowerCase()}}">{{bug.severity.toLocaleLowerCase()}}</label>
      </td>
    </tr>
    </tbody>
    <div class="has-text-centered">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </table>
</div>

