<div class="container">
  <div class="card">
    <div class="card-header">
      <b>{{"add-bug.title-page" | translate}}</b>
    </div>
    <div class="card-body">
      <form #formControl="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">{{"add-bug.title" | translate}}</label>
          <input #titleElement="ngModel" name="title" id="title" type="text" class="form-control" required
                 [(ngModel)]="bug.title" minlength="3"/>
          <div class="err" *ngIf="titleElement.invalid && titleElement.touched">{{'add-bug.title-message' |
            translate}}
          </div>
        </div>
        <div class="form-group">
          <label for="description">{{"add-bug.description" | translate}}</label>
          <input #descriptionElement="ngModel" id="description" name="this" type="text" [(ngModel)]="bug.description"
                 class="form-control" minlength="3" required/>
          <div class="err" *ngIf="descriptionElement.invalid && descriptionElement.touched">{{'add-bug.description-message' |
            translate}}
          </div>
        </div>

        <div class="form-group">
          <label for="version">{{"add-bug.version" | translate}}</label>
          <input #versionElement="ngModel" id="version" name="version" type="text" [(ngModel)]="bug.version"
                 class="form-control" required pattern="(^[1-9][0-9]{0,}(\.[0-9]{1,}){1,}$)" minlength="3"/>
          <div class="err" *ngIf="versionElement.invalid && versionElement.touched">Version is invalid</div>
        </div>
        <div class="form-group">
          <label for="fversion">{{"add-bug.fixed-version" | translate}}</label>
          <input #fixedElement="ngModel" id="fversion" name="fversion" type="text" [(ngModel)]="bug.fixedVersion"
                 class="form-control"  pattern="(^[1-9][0-9]{0,}(\.[0-9]{1,}){1,}$)" minlength="3"/>
          <div class="err" *ngIf="fixedElement.invalid && fixedElement.touched">Fixed version is invalid</div>

        </div>
        <div class="form-group">
          <label for="severity">{{"add-bug.severity" | translate}}</label>
          <select #severityElement="ngModel" name="severity" id="severity" [(ngModel)]="this.chosenSeverity"
                  class="form-control"  required>
            <option disabled [ngValue]="undefined">Select severity</option>
            <option *ngFor="let severity of this.severity" [ngValue]="severity">{{severity}}</option>
          </select>
          <div class="err" *ngIf="severityElement.invalid && severityElement.touched">{{"add-bug.severity-message" |
            translate}}
          </div>
        </div>

        <div class="form-group">
          <label for="date">{{"add-bug.target-date" | translate}}</label>
          <br/>
          <input #targetElement="ngModel" type="date" id="date" name="chosenDate"
                 [(ngModel)]="this.chosenDate"
                 min="{{this.currentDate | date:'yyyy-MM-dd'}}"
                 max="2030-12-31" required>
          <div class="err" *ngIf="targetElement.invalid && targetElement.touched">{{"add-bug.target-date-message" |
            translate}}
          </div>
        </div>
        <div class="form-group">
          <label for="createdby">{{"add-bug.created-by" | translate}}</label>
          <input disabled id="createdBy" name="createdBy" type="text" value="{{loggedUser}}" class="form-control" required
                 minlength="3"/>
        </div>
        <div class="form-group">
          <label for="assignedTo">{{"add-bug.assigned-to" | translate}}</label>
          <select #assignedElement="ngModel" name="assignedTo" id="assignedTo" class="form-control"
                  [(ngModel)]="this.chosenUsername"  required>
            <option disabled [ngValue]="undefined">{{"add-bug.select-user" | translate}}</option>
            <option *ngFor="let username of this.allUsers" [ngValue]="username.username">{{username.username}}
            </option>
          </select>
          <div class="err" *ngIf="assignedElement.invalid && assignedElement.touched">{{"add-bug.assigned-to-message" |
            translate}}
          </div>
        </div>
        <div class="form-group">
          <label for="status">{{"add-bug.status" | translate}}</label>
          <input disabled id="status" name="status" type="text" [(ngModel)]="bug.status" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="blob">{{"add-bug.attachment" | translate}}</label>
          <br/>
          <input #inputElement class="form-control-file" type="file" id="blob" name="file"
                 [(ngModel)]="this.attachment.blob" required size="25"
                 (change)="fileChange()" accept=".jpg,.pdf,.doc,.odf,.xls,.txt,.xlsx" multiple>
          <div *ngIf="this.chosenFiles.length>1">
            <div *ngFor="let name of this.chosenFiles">
              {{name}}
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" [disabled]="formControl.invalid" >
            {{"add-bug.btn-register" | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

