<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      xmlns="http://www.w3.org/1999/html">
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="card-title"><b>Bug details</b></div>
    </div>
    <div class="card-body">
      <h1 class="title">{{bug.title}}</h1>
      <p class="gray">Created by {{bug.createdByUser.username}}</p>
      <table class="table-borderless">
        <thead class="gray">
        <tr>
          <th class="fixedColumns" scope="col">ASSIGNED TO</th>
          <th class="fixedColumns" scope="col">SEVERITY</th>
          <th class="fixedColumns" scope="col">STATUS</th>
          <th class="fixedColumns" scope="col">TARGET DATE</th>
          <th class="fixedColumns" scope="col">VERSION</th>
          <th class="fixedColumns" scope="col">FIXED VERSION</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{bug.assignedTo.username}}</td>
          <td><label class="severity {{bug.severity.toLocaleLowerCase()}}">{{bug.severity.toLocaleLowerCase()}}</label>
          </td>
          <td>{{bug.status.toLowerCase()}}</td>
          <td>{{bug.targetDate}}</td>
          <td>{{bug.version}}</td>
          <td>{{bug.fixedVersion}}</td>
        </tr>
        </tbody>
      </table>
      <h3>Description</h3>
      <p>{{bug.description}}</p>
      <h4>Comments</h4>
      <table>
        <tbody *ngFor="let c of comments">
        <tr>
          <td class="gray">{{c.date}} <br/>By {{c.user}}</td>
          <td>{{c.text}}</td>
        </tr>
        </tbody>
      </table>
      <form>
        <div class="form-group">
        <textarea cols="151" rows="3" [ngModel]="this.commentToBeAdded.text"
                  (ngModelChange)="this.commentToBeAdded.text= $event" name="textarea"></textarea>
        </div>
      </form>
      <div class="row">
        <div class="col-md-2">
          <button type="Submit" class="btn btn-primary" (click)="addComment()">Add comment</button>
        </div>
        <div class="col-md-1">
          <button type="Submit" class="btn btn-primary" (click)="export()">Export PDF</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="card-title"><b>Attachments</b></div>
    </div>
    <div class="card-body">
      <form>
        <div class="row col-md-1">
          <div class="form-group">
            <label>Select an attachment</label>
            <div class="select_join">
              <select name="assignedTo" id="" class="form-control" [ngModel]="this.attachmentChosen"
                      (ngModelChange)="this.attachmentChosen= $event">
                <option disabled *ngIf="this.attachmentsForABug.length==0" [ngValue]="undefined">No attachments</option>
                <option disabled *ngIf="this.attachmentsForABug.length > 0" [ngValue]="undefined">Select attachment
                </option>
                <option *ngFor="let attachment of this.attachmentsForABug;index as i" [ngValue]="attachment">
                  {{attachment.name+'.' +attachment.extension.toLocaleLowerCase()}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-1">
          <div class="form-group">
            <button data-placement="bottom" title="Download attachment" class="btn" id="downloadButton"
                    (click)="download(this.attachmentChosen.blob,this.attachmentChosen.extension)">
              <i class="fa fa-upload"></i></button>
          </div>
        </div>
        <div class="col-md-1">
          <button data-toggle="tooltip" data-placement="bottom" title="Delete attachment" class="btn"
                  id="deleteButton" (click)="deleteAttachment(this.attachmentChosen)"><i
            class="fa fa-trash-o"></i></button>
        </div>
        <div class="col-md-1">
          <button data-placement="bottom" title="Save attachment" class="btn" (click)="addAttachment(this.attachmentToBeAdded)">
            <i class="fa fa-save"></i></button>
        </div>
        <div class="col-md-2">
          <input data-placement="bottom" title="Add attachment" type="file" id="blob" name="file" required
                 (change)="fileChange($event)"
                 accept=".jpg,.pdf,.doc,.odf,.xls,.txt" multiple>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-primary" routerLink="/bug/update">{{'details-bug.btn-back' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
