table {
  border-collapse: collapse;
  width: 100%;
}

.gray{
  color: darkgray;
  padding: 10px;
}

tr {
  height: 50px
}
.severity {
  width: 65px;
  border-radius: 25px;
  text-align: center;
  color: whitesmoke;
}
.severity.critical {
  background-color: darkred;
}

.severity.high {
  background-color: orange;
}

.severity.medium {
  background-color: dodgerblue;
}

.severity.low {
  background-color: green;
}

