<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      xmlns="http://www.w3.org/1999/html">
<div class="container">
  <h1 class="title">{{bug.title}}</h1>
  <p class="gray">{{'details-bug.created-by' | translate}} {{bug.createdByUser.username}}</p>
  <table class="table-borderless">
    <thead class="gray">
    <tr>
      <th class="fixedColumns" scope="col">{{'details-bug.col1' | translate}}</th>
      <th class="fixedColumns" scope="col">{{'details-bug.col2' | translate}}</th>
      <th class="fixedColumns" scope="col">{{'details-bug.col3' | translate}}</th>
      <th class="fixedColumns" scope="col">{{'details-bug.col4' | translate}}</th>
      <th class="fixedColumns" scope="col">{{'details-bug.col5' | translate}}</th>
      <th class="fixedColumns" scope="col">{{'details-bug.col6' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{bug.assignedTo.username}}</td>
      <td><label class="severity {{bug.severity.toLocaleLowerCase()}}">{{bug.severity.toLocaleLowerCase()}}</label></td>
      <td>{{bug.status.toLowerCase()}}</td>
      <td>{{bug.targetDate}}</td>
      <td>{{bug.version}}</td>
      <td>{{bug.fixedVersion}}</td>
    </tr>
    </tbody>
  </table>
  <h4>{{'details-bug.description' | translate}}</h4>
  <p>{{bug.description}}</p>
  <h4>{{'details-bug.comments' | translate}}</h4>
  <table>
    <tbody *ngFor="let c of comments">
    <tr>
      <td class="gray">{{c.date}} <br />By {{c.user}}</td>
      <td>{{c.text}}</td>
    </tr>
    </tbody>
  </table>
  <div class="form-group">
  <textarea cols="151" rows="3" [ngModel]="this.commentToBeAdded.text" (ngModelChange)="this.commentToBeAdded.text= $event" name="textarea"></textarea>
    <button type="Submit" (click)="addComment()">{{'details-bug.btn-add-comment' | translate}}</button>
    <br>
    <button type="Submit" *ngIf="isBugExportPdf()" (click)="export()">{{'details-bug.btn-export' | translate}}</button>
  </div>
  <h4>{{'details-bug.attachments' | translate}}</h4>
  <div class="form-group">
    <label>{{'details-bug.description-attachment' | translate}}</label>
    <div class="select_join">
    <select name="assignedTo" id=""  class="form-control"  [ngModel]="this.attachmentChosen" (ngModelChange)="this.attachmentChosen= $event">
      <option disabled *ngIf="this.attachmentsForABug.length==0" [ngValue]="undefined">{{'details-bug.message-attachment' | translate}}</option>
      <option disabled *ngIf="this.attachmentsForABug.length > 0" [ngValue]="undefined">{{'details-bug.select-attachment' | translate}}</option>
      <option *ngFor="let attachment of this.attachmentsForABug;index as i" [ngValue]="attachment">{{attachment.name+'.' +attachment.extension.toLocaleLowerCase()}} </option>px
    </select>
    </div>
    <br/>
    <label>{{'details-bug.download' | translate}}:&nbsp;<button class="btn" (click)="download(this.attachmentChosen.blob,this.attachmentChosen.extension)"><i class="fa fa-upload"></i></button></label><br/>
    <label>{{'details-bug.delete' | translate}}:&nbsp;<button class="btn" (click)="deleteAttachment(this.attachmentChosen)"><i class="fa fa-trash-o"></i></button></label>
    <br>
    <label>{{'details-bug.add' | translate}}:&nbsp;</label>
    <input type="file" id="blob" name="file" required (change)="fileChange($event)" accept=".jpg,.pdf,.doc,.odf,.xls,.txt" multiple >
    <label>&nbsp;&nbsp;</label>
    <button class="btn" (click)="addAttachment(this.attachmentToBeAdded)"><i class="fa fa-save"></i></button><br>
  </div>

  <button class="btn btn-group" routerLink="/bug/update">{{'details-bug.btn-back' | translate}}</button>
</div>

