<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="card-title"><b>{{"view-history.title" | translate}}</b></div>
    </div>
    <div class="card-body">
      <table class="top-margin">
        <thead>
        <tr>
          <th>{{"view-history.col1" | translate}}</th>
          <th>{{"view-history.col2" | translate}}</th>
          <th>{{"view-history.col3" | translate}}</th>
          <th>{{"view-history.col4" | translate}}</th>
          <th>{{"view-history.col5" | translate}}</th>
        </tr>
        </thead>

        <tbody *ngFor="let history of this.histories| paginate: { itemsPerPage: 10, currentPage: page }"
               class="fixedColumns">
        <tr>
          <td>{{history.bugDTO.title}}</td>
          <td>{{history.beforeStatus}}</td>
          <td>{{history.afterStatus}}</td>
          <td>{{history.modifiedDate}}</td>
          <td>{{history.userDTO.username + ': ' + history.userDTO.firstName + ' ' + history.userDTO.lastName}}</td>
        </tr>
        </tbody>
      </table>
      <div class="has-text-centered">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

