<div class="container">
<table class="top-margin">
  <thead >
  <tr>
    <th>Bug</th>
    <th>Before status</th>
    <th>After status</th>
    <th>Modified date</th>
    <th>Modified by</th>
  </tr>
  </thead>

  <tbody *ngFor="let history of this.histories| paginate: { itemsPerPage: 10, currentPage: page }"  class="fixedColumns">
  <tr>
    <td>{{history.bugDTO.title}}</td>
    <td>{{history.beforeStatus}}</td>
    <td>{{history.afterStatus}}</td>
    <td>{{history.modifiedDate}}</td>
    <td>{{history.userDTO.username + ': ' + history.userDTO.firstName + ' ' + history.userDTO.lastName}}</td>

  </tr>
  </tbody>
</table>
  <div class="has-text-centered">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
