<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      xmlns="http://www.w3.org/1999/html">

<div class="container">
  <div class="row">
    <div class="col-sm col-md-3">
      <label for="filterTitle">Title</label>
      <input   name="filterTitle" id="filterTitle" type="text" class="form-control size" [(ngModel)]="this.chosenFilter.title">
    </div>
    <div class="col-sm col-md-3">
      <label for="filterDescription">Description</label>
      <input  name="filterDescription" id="filterDescription" type="text" class="form-control size"
             [(ngModel)]="this.chosenFilter.description">
    </div>
    <div class="col-sm col-md-3">
      <label for="filterVersion">Version</label>
      <input id="filterVersion" type="text" class="form-control size" [(ngModel)]="this.chosenFilter.version">
    </div>
    <div class="col-sm col-md-3">
      <label for="filterFixedVersion">Fixed version</label>
      <input id="filterFixedVersion" type="text" class="form-control size" [(ngModel)]="this.chosenFilter.fixedVersion">
    </div>

</div>
  <div class="row top-margin">
    <div class="col-sm col-md-3" >
      <label for="filterSeverity">Severity</label>
      <select name="filterSeverity" id="filterSeverity" [(ngModel)]="this.chosenFilter.severity" class="form-control size">
        <option [ngValue]="undefined"></option>
        <option *ngFor="let sev of severity" [ngValue]="sev">{{sev}}</option>
      </select>
    </div>

    <div class="col-sm col-md-3">
      <label for="filterStatus">Status</label>
      <select name="filterStatus" id="filterStatus" [(ngModel)]="this.chosenFilter.status" class="form-control size">
        <option [ngValue]="undefined"></option>
        <option *ngFor="let status of statuses" [ngValue]="status">{{status}}</option>
      </select>
    </div>

    <div class="col-sm col-md-3">
      <label for="filterAssignedTo">Assigned to</label>
      <select name="filterAssignedTo" id="filterAssignedTo" [ngModel]="this.chosenFilter.assignedTo" class="form-control size">
        <option [ngValue]="undefined"></option>
        <option *ngFor="let username of this.allUsers" [ngValue]="username.username">{{username.username}}</option>
      </select>
    </div>

    <div class="col-sm col-md-3">
      <label for="filterCreatedBy">Created by</label>
      <select name="filterCreatedBy" id="filtercreatedBy" [ngModel]="this.chosenFilter.createdByUser"
              class="form-control size">
        <option [ngValue]="undefined"></option>
        <option *ngFor="let username of this.allUsers" [ngValue]="username.username">{{username.username}}</option>
      </select>
    </div>
  </div>

  <div class="row top-margin">
    <div class="col-sm-2 col-md-3">
      <label for="startDate">Start target date</label>
      <input class="form-control size"  type="date" id="startDate"
             [(ngModel)]="this.chosenFilter.targetDate"
             min="2018-01-01" max="2030-12-31" />
    </div>
    <div class="col-sm-2 col-md-3">
      <label for="endDate">End target date</label>
      <input class="form-control size"  type="date" id="endDate"
             [(ngModel)]="this.endDate"
             min="2018-01-01" max="2030-12-31" />
    </div>
    <div class="col-sm-2 col-md-5">
      <button class="btn btn-group  button" [disabled]="!validateDates()" (click)="applyFilters()" >Filter</button>
    </div>
  </div>

  <div class="err" *ngIf="!validateDates()">Choose a date interval where the first one is smaller than the second one</div>

<table class="top-margin">
  <thead >
  <th *ngFor="let head of header" (click)="sortColumn(head)">
    <table>
      <tr>
        <td>{{head.name.toUpperCase()}}</td>
        <td>
          <i class="fa fa-chevron-up" *ngIf="head.direction === 'asc'" ></i>
          <i class="fa fa-chevron-down" *ngIf="head.direction === 'desc'"></i>
        </td>
      </tr>
    </table>
  </th>
  <th><tr>
    <td>UPDATE</td>
  </tr></th>
  </thead>


  <tbody *ngFor="let bug of bugs| paginate: { itemsPerPage: 20, currentPage: page }" routerLink="/bug/details"
         (click)='setSelectedBug(bug)' class="fixedColumns">
  <tr>
    <td>
      <input *ngIf="this.editableFunction(bug)" [ngModel]="bug.title" (ngModelChange)="bug.title = $event"/>
      <div *ngIf="!this.editableFunction(bug)">
        {{bug.title}}
      </div>
    </td>
    <td>
      <div class="fixedColumns">
        <input *ngIf="this.editableFunction(bug)" [ngModel]="bug.version" (ngModelChange)="bug.version = $event"/>
      </div>
      <div *ngIf="!this.editableFunction(bug)">
        {{bug.version}}
      </div>
    </td>
    <td>
      <input *ngIf="this.editableFunction(bug)" class="fixedColumns" [ngModel]="bug.fixedVersion"
             (ngModelChange)="bug.fixedVersion = $event"/>
      <div *ngIf="!this.editableFunction(bug)">
        {{bug.fixedVersion}}
      </div>
    </td>
    <td>
      <div *ngIf="this.editableFunction(bug)">
        <select name="severity" id="severity" [ngModel]="bug.severity" (ngModelChange)="bug.severity = $event"
                class="form-control">
          <option *ngFor="let severity of this.severity" [ngValue]="severity">{{severity}}</option>
        </select>
      </div>
      <div *ngIf="!this.editableFunction(bug)">
        <label class="severity {{bug.severity.toLocaleLowerCase()}}"> {{bug.severity}}</label>
      </div>
    </td>
    <td>
      <div *ngIf="this.editableFunction(bug)">
        <select class="form-control" [ngModel]="bug.status" (ngModelChange)="bug.status = $event">
          <option *ngFor="let status of this.updatedStatus" [ngValue]="status">{{status.toLocaleUpperCase()}}</option>
        </select>
      </div>
      <div *ngIf="!this.editableFunction(bug)">
        {{bug.status}}
      </div>
    </td>
    <td>
      <div *ngIf="this.editableFunction(bug)">
        <select class="form-control" [ngModel]="bug.assignedTo.username"
                (ngModelChange)="bug.assignedTo.username = $event">
          <option *ngFor="let username of this.allUsers" [ngValue]="username.username">{{username.username}}</option>
        </select>
      </div>
      <div *ngIf="!this.editableFunction(bug)">
        {{bug.assignedTo.username}}
      </div>
    </td>

    <td>
      {{bug.targetDate}}
    </td>


    <td>
      <button class="btn" (click)="onSubmit(bug)"><i class="fa fa-upload"></i></button>
    </td>

  </tr>
  </tbody>

</table>
<div class="has-text-centered">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <label>Attachment for this bug</label>
          <select name="assignedTo" id="" class="form-control" [ngModel]="this.attachmentChosen"
                  (ngModelChange)="this.attachmentChosen= $event">
            <option *ngFor="let attachment of this.attachmentsForABug;index as i" [ngValue]="attachment">Attachment
              {{i+1}}
            </option>
          </select>
          <br/>
          <label>Download:&nbsp;<button class="btn" (click)="download(this.attachmentChosen.blob)"><i
            class="fa fa-upload"></i></button>
          </label><br/>
          <label>Delete:&nbsp;<button class="btn" (click)="deleteAttachment(this.attachmentChosen)"><i
            class="fa fa-dollar"></i></button>
          </label>
          <br>
          <label>Add:&nbsp;</label>
          <input type="file" id="blob" name="file" required (change)="fileChange($event)"
                 accept="file_extension|audio/*|video/*|image/*|media_type" multiple>
          <label>&nbsp;&nbsp;</label>
          <button class="btn" (click)="addAttachment(this.attachmentToBeAdded)"><i class="fa fa-save"></i></button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>



