table {
  border-collapse: collapse;
  width: 100%;
}

.description-hide{
  text-overflow: ellipsis;
  max-width: 100px;
  overflow: hidden;
}

.header-description{
  width: 100px;
}
tr {
  border-bottom: 1px solid #ccc;
  height: 50px;
  width: 100px;
}

tr:hover {
  background-color: #f5f5f5;
}
input{
  width: 100px;
}
.left{
  text-align: left;
}
th {
  text-align: center;
}
td{
  width: 120px;
  text-align: center;
}
.severity {
  width: 120px;
  border-radius: 25px;
  text-align: center;
  color: whitesmoke;
}
.severity.critical {
  background-color: darkred;
}

.severity.high {
  background-color: orange;
}

.severity.medium {
  background-color: dodgerblue;
}

.severity.low {
  background-color: green;
}

.top-margin{
  margin-top:20px;
}

.size{
  width: 80%;
}

.button{
  margin-top: 30px;
}

.err{
  color: red;
  font-size: smaller;
  text-align: left;
}
