table {
  border-collapse: collapse;
  width: 100%;
}

.gray{
  color: darkgray;
  padding: 10px;
}

tr {
  height: 50px
}
.severity {
  width: 65px;
  border-radius: 25px;
  text-align: center;
  color: whitesmoke;
}
.severity.critical {
  background-color: darkred;
}

.severity.high {
  background-color: orange;
}

.severity.medium {
  background-color: dodgerblue;
}

.severity.low {
  background-color: green;
}

.select_join select{
  width: 200px !important;
}

.select_join option{
  border-right-width: 50px;
}

.container{
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #f5f8fa;
  color:#636b6f;
}
button[disabled]{
  border: 1px solid #999999;
  background-color: #e8f6ff;
  color: #666666;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


