<div class="container">
  <div class="card">
    <div class="card-header">
      <b>{{'login.title' | translate}}</b>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()"
            *ngIf="!loggedIn"
            #formControl="ngForm"
            #formElement>
        <div class="form-group">
          <label for="usernameInput">{{'login.username' | translate}}</label>
          <input type="text"
                 #usernameElement
                 #usernameControl="ngModel"
                 name="username"
                 minlength="6"
                 id="usernameInput"
                 class="form-control"
                 required
                 [(ngModel)]="userModel.username">

        </div>
        <div class="form-group">
          <label for="passwordInput">{{'login.password' | translate}}</label>
          <input type="password"
                 #passwordElement
                 name="password"
                 id="passwordInput"
                 class="form-control"
                 required
                 [(ngModel)]="userModel.password">
        </div>
        <p>
          <small *ngIf="wrongCredentials" class="help-block text-danger">
            Login failed. Please try again
          </small>

        </p>
        <re-captcha [(ngModel)]="recaptchaResponse"
                    name="captcha"
                    (resolved)="resolved($event)" siteKey="6LfaAGwUAAAAAJHvUMwIaUwZrwyAT9nAVYl87EG1"></re-captcha>
        <br>
        <button type="submit"
                [disabled]="formControl.invalid"
                class="btn btn-primary">{{'login.button' | translate}}
        </button>
      </form>
    </div>
  </div>
</div>

