.container{
  width: 35%;
  margin: 0 auto;
  background-color: #f5f8fa;
  color:#636b6f;
  padding-top: 90px;
  align-items:center;
}
.err{
  color: red;
  font-size: smaller;
  text-align: left;
}
.p{
  height: 20px;
}

button[disabled]{
  border: 1px solid #999999;
  background-color: #e8f6ff;
  color: #666666;
}
