<div class="logInForm">
  <div class="jumbotron">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h3> Login</h3>
        <form (ngSubmit)="OnSubmit()"
              *ngIf="!loggedIn"
              #formControl="ngForm"
              #formElement>
          <div class="form-group">
            <label for="usernameInput">username</label>
            <input type="text"
                   #usernameElement
                   #usernameControl="ngModel"
                   name="username"
                   minlength="3"
                   pattern="[a-z]+"
                   id="usernameInput"
                   class="form-control"
                   required
                   [(ngModel)]="userModel.username">
          </div>
          <div class="form-group">
            <label for="passwordInput">password</label>
            <input type="password"
                   #passwordElement
                   name="password"
                   id="passwordInput"
                   class="form-control"
                   required
                   [(ngModel)]="userModel.password">
          </div>
          <button type="submit"
                  [disabled]="formControl.invalid"
                  class="btn btn-primary">Login
          </button>
          <p *ngIf="wrongCredentials ">Wrong credentials</p>
        </form>
        <form *ngIf="loggedIn">
          <h2>You are logged in as: {{userModel.username}}</h2>
        </form>
      </div>
    </div>
  </div>
</div>

