<div class="container">
  <div class="card">
    <div class="card-header">
      {{'change-password.change-password' |translate}}
    </div>
    <div class="card-body">


            <label>{{'change-password.current-password' |translate}}</label>
            <div class="form-group pass_show">
              <input type="password" #oldPasswordControl="ngModel" [(ngModel)]="oldPassword" class="form-control" placeholder="Current Password"
                     >
            </div>
            <label>{{'change-password.new-password' |translate}}</label>
            <div class="form-group pass_show">
              <input type="password" #newPasswordControl="ngModel" [(ngModel)]="newPassword" value="newPassword" class="form-control" placeholder="New Password"
                     title="Must start with an uppercase letter, continue with lowercase letters and end with a number"
                     [ngClass]="{'red-border-class': newPasswordControl.invalid && newPasswordControl.touched}" pattern="[A-Z]+[a-z]{5,}[0-9]+" required>
            </div>
            <label>{{'change-password.confirm-password' |translate}}</label>
            <div class="form-group pass_show">
              <input type="password" #newPasswordAgainControl="ngModel" [(ngModel)]="newPasswordAgain" value="newPasswordAgain" class="form-control" placeholder="Confirm Password"
                     [ngClass]="{'red-border-class': newPasswordAgainControl.invalid && newPasswordAgainControl.touched}" pattern="[A-Z]+[a-z]{5,}[0-9]+" required>
            </div>
      <div class="row">
        <div class="col-md-4">
      <button type="submit"
              class="btn btn-primary"
              (click)="updatePassword()"
      >{{'change-password.update-password' |translate}}</button>
      </div>
      <div class="col-md-8">
      <button type="submit"
              class="btn btn-primary"
              id="backButton"
              routerLink="../myprofile">{{'change-password.back' |translate}}</button>
      </div>
      </div>
    </div>
  </div>
</div>
