.container{
  width: 40%;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #f5f8fa;
  color:#636b6f;
}
.err{
  color: red;
  font-size: smaller;
  text-align: left;
}
.p{
  height: 20px;
}

.red-border-class{
  border-color: red;
}

.blue-border-class{
  border-color: blue;
}
